.container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.headerFooterContainer {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

.date {
  flex: 1 0 0;

  color: var(--White-Base, #fff);
}

.mainContainer {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.distanceContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  max-width: 180px;
}

.distanceText {
  composes: bodyRegular from global;
  color: #fff;
  text-align: center;

  width: fit-content;
}

.imageContainer {
  display: flex;
  height: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.image {
  flex-shrink: 0;
}

.largeImage {
  composes: image;
  width: 36.67px;
  height: 40px;
}

.smallImage {
  composes: image;
  width: 22px;
  height: 24px;
}

.sizeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.typeText {
  composes: bodyRegular from global;
  color: var(--White-Base, #fff);
  font-weight: 700;
  text-decoration-line: underline;
}

.sizeText {
  composes: bodyMicro from global;
  color: var(--White-Base, #fff);
}

.orderButton {
  display: flex;
  padding: 2px 11px;
  align-items: center;
  gap: 2px;

  border-width: 0;
  border-radius: 1rem;
  background: var(--Orange-Smooth, rgba(248, 102, 0, 0.15));
}

.buttonText {
  color: var(--Orange-Base, #f86600);
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 1.25rem; /* 181.818% */
  letter-spacing: 0.0625rem;
}

.dangerText {
  composes: bodySmall from global;
  color: var(--gray-30, #e3e5e5);
}

.svgContainer {
  display: flex;
}
