.container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.headerFooterContainer {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

.mainContainer {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.distanceContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  max-width: 180px;
}

.distanceText {
  text-align: center;
  align-self: center;
}

.imageContainer {
  display: flex;
  height: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.image {
  flex-shrink: 0;
}

.largeImage {
  composes: image;
  width: 36.67px;
  height: 40px;
}

.smallImage {
  composes: image;
  width: 22px;
  height: 24px;
}

.sizeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.typeText {
  font-weight: 700;
  text-decoration-line: underline;
}

.sizeText {
  composes: bodyMicro from global;
}

.dangerText {
  composes: bodySmall from global;
  display: flex;
  gap: 0.5rem;
}

.svgContainer {
  display: flex;
}
