:root {
  --max-width: 1100px;
  background-color: #000;
  --White-Base: #fff;
  --Orange-Base: #f86600;
  --Orange-Smooth: rgba(248, 102, 0, 0.15);
  --gray-30: #e3e5e5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.25rem; /* 128.571% */
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem; /* 133.333% */
}

.bodyRegular {
  line-height: 1.5rem;
}

.bodySmall {
  font-size: 0.875rem;
  line-height: 1.25rem; /* 142.857% */
}

.bodyMicro {
  font-size: 0.75rem;
  line-height: 1rem; /* 133.333% */
}
