.main {
  --gap-x: 20px;
  --gap-y: calc(100vh / 8.5);
  --earth-height: calc(100vh - var(--gap-y) * 2);
  --earth-width: calc(var(--earth-height) * 0.7);
  --feed-width-base: 385px;
  --feed-width: calc(var(--feed-width-base) - (440px - 100vw));
  --left-shift: min(
    100vw - var(--earth-width) - var(--feed-width) - var(--gap-x),
    0px
  );

  display: flex;
  flex-direction: column;

  background-image: url('../../../public/asteroid.png');
  background-repeat: no-repeat;
  background-attachment: fixed;

  -webkit-animation: slidein 30s;
  animation: slidein 30s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: normal;
  animation-direction: normal;
}

@keyframes slidein {
  from,
  20% {
    background-position: 100vw calc(var(--gap-y) * 1.5);
    background-size: 0%;
  }
  to {
    background-position: calc(var(--earth-width) / 3 + var(--left-shift)) 100vh;
    background-size: 35%;
  }
}

@-webkit-keyframes slidein {
  from,
  20% {
    background-position: 100vw calc(var(--gap-y) * 1.5);
    background-size: 0%;
  }
  to {
    background-position: calc(var(--earth-width) / 3 + var(--left-shift)) 100vh;
    background-size: 35%;
  }
}

@media (min-width: 440px) {
  .main {
    --gap-x: calc(100vw / 22);
    --feed-width: var(--feed-width-base);
  }
}

@media (min-width: 576px) {
  .main {
    flex-direction: row;
  }

  .main:has(:last-child[id='cart']) {
    --cart-width: 9.375rem;
    --left-shift: min(
      100vw - var(--earth-width) - var(--feed-width) - var(--gap-x) -
        var(--cart-width),
      0px
    );
  }
  /* fallback until mozilla adds :has support by default*/
  @supports (-moz-box-sizing: content-box) {
    .main {
      --cart-width: 9.375rem;
      --left-shift: min(
        100vw - var(--earth-width) - var(--feed-width) - var(--gap-x) -
          var(--cart-width),
        0px
      );
    }
  }
}

.earthAndFeedContainer {
  display: flex;
  position: relative;
  left: var(--left-shift);
}

.earth {
  height: var(--earth-height);
  min-width: var(--earth-width);

  position: sticky;
  top: var(--gap-y);
  margin-right: var(--gap-x);
  background-image: url('../../../public/earth.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
}
